div.social-login 
    button.social-login--github
        a(href=routes.github.github_go)
            span
                i.fab.fa-github-square &nbsp;
            | Continue with Github
    button.social-login--facebook
        a(href=routes.kakao.kakao_go)
            span
                    i.fab.fa-kickstarter-k &nbsp;
            | Continue with Kakao