extends layouts/main.pug

block content
    div.form-container 
        form(action=`/users${routes.user.USER_PASSWORD}`, method="post")
            input(type="password", name="oldpassword", placeholder="Current PassWord")
            input(type="password", name="newpassword", placeholder="New password")
            input(type="password", name="newpassword1", placeholder="Verify New password")
            input(type="submit", value="Change Password")