extends layouts/main.pug
include ./mixins/videoBlock

block content
    div.user-profile
        div.user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.name
        if( loggerUser && user.id === loggerUser.id)
            div.user-profile__btns
                a(href=`/users${routes.user.USER_PROFILE}`)
                    button Edit Profile
                a(href=`/users${routes.user.USER_PASSWORD}`)
                    button Change Password
        div.uploaded-videos 
            div.home-videos 
                each item in user.videos
                    +videoBlock({
                        id : item._id,
                        title : item.title,
                        views : item.views,
                        description : item.description,
                        videoFile : item.fileUrl
                    })